@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Home</h1>

    <p> Hello, welcome to the bartender application. Please use the navigation menu at the top of the screen to navigate between the bartender view and customer view.</p>
</div>
